<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginAuthent</servlet-name>
        <servlet-class>model.StudentLoginAuthent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegCheck</servlet-name>
        <servlet-class>controller.StudentRegCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckerSt</servlet-name>
        <servlet-class>controller.LoginCheckerSt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogedChecker</servlet-name>
        <servlet-class>controller.AdminLogedChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordinatorRegisterChecking</servlet-name>
        <servlet-class>controller.CoordinatorRegisterChecking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordinatorLoginChecks</servlet-name>
        <servlet-class>controller.CoordinatorLoginChecks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Applicationform</servlet-name>
        <servlet-class>controller.Applicationform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coordinatorviewpage</servlet-name>
        <servlet-class>coordinatorviewpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletpassword</servlet-name>
        <servlet-class>servletpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlacmentAdmin</servlet-name>
        <servlet-class>controller.DeletePlacmentAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpPassword</servlet-name>
        <servlet-class>controller.OtpPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpSender</servlet-name>
        <servlet-class>controller.OtpSender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpChecker</servlet-name>
        <servlet-class>controller.OtpChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlacementDetails</servlet-name>
        <servlet-class>controller.AddPlacementDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>controller.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpSenderCoordinator</servlet-name>
        <servlet-class>controller.OtpSenderCoordinator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpCheckerCoordinator</servlet-name>
        <servlet-class>controller.OtpCheckerCoordinator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordCoordinator</servlet-name>
        <servlet-class>controller.ResetPasswordCoordinator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAuthent</servlet-name>
        <url-pattern>/LoginAuthent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegCheck</servlet-name>
        <url-pattern>/StudentRegCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckerSt</servlet-name>
        <url-pattern>/LoginCheckerSt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogedChecker</servlet-name>
        <url-pattern>/AdminLogedChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorRegisterChecking</servlet-name>
        <url-pattern>/CoordinatorRegisterChecking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorLoginChecks</servlet-name>
        <url-pattern>/CoordinatorLoginChecks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Applicationform</servlet-name>
        <url-pattern>/Applicationform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coordinatorviewpage</servlet-name>
        <url-pattern>/coordinatorviewpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletpassword</servlet-name>
        <url-pattern>/servletpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlacmentAdmin</servlet-name>
        <url-pattern>/DeletePlacmentAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpPassword</servlet-name>
        <url-pattern>/OtpPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpSender</servlet-name>
        <url-pattern>/OtpSender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpChecker</servlet-name>
        <url-pattern>/OtpChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlacementDetails</servlet-name>
        <url-pattern>/AddPlacementDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpSenderCoordinator</servlet-name>
        <url-pattern>/OtpSenderCoordinator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpCheckerCoordinator</servlet-name>
        <url-pattern>/OtpCheckerCoordinator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordCoordinator</servlet-name>
        <url-pattern>/ResetPasswordCoordinator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
